@model FirstMVC.Models.User

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Login failed. Check your login details.");
    <div>
        <fieldset>
            <legend>Login</legend>
            <div class="form-control">
                @Html.LabelFor(u => u.UserName)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(u => u.UserName)
                @Html.ValidationMessageFor(u => u.UserName)
            </div>
            <div class="form-control">
                @Html.LabelFor(u => u.Password)
            </div>
            <div class="editor-field">
                @*@Html.PasswordFor(u => u.Password)*@
                @Html.PasswordFor(u => u.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Password" } })
                @Html.ValidationMessageFor(u => u.Password)
            </div>
            <input type="submit" value="Log In" class="btn btn-default" />
        </fieldset>
    </div>
}