@model PagedList.IPagedList<FirstMVC.Models.Customer>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
    ViewBag.NameSortParm = "CustomerName";
}

<h2 class="center indigo-text">Pre Approval Dashboard</h2>

@if ((int)Session["UserRole"] != 2)
{
    <p>
        <a class="waves-effect waves-light green btn" href="@Url.Action("Create")"><i class="material-icons left">add</i>ADD NEW PRE-APPROVAL</a>
    </p>
}

@using (Html.BeginForm("Index", "Customer", FormMethod.Get))
{
    <p>
        <div class="row">
            <div class="input-field col s12">
                @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { size = "100" })
                @Html.Label("Search by Customer Name")
            </div>
        </div>
        <input type="submit" value="Search" style="position: absolute; left: -9999px" />
    </p>
}

<table class="responsive-table striped">
    <thead>
        <tr>
            <th>
                Customer Name
            </th>
            <th>
                Rate
            </th>
            <th>
                Term
            </th>
            <th>
                Approval Amount
            </th>
            <th>
                Expiration Date
            </th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Term)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApprovalAmt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PreApprovExpirationDate)
                </td>
                <td class="center"><a class="waves-effect waves-teal btn-flat" href="@Url.Action("Details", new {id = item.id})"><i class="large material-icons">remove_red_eye</i></a></td>
            </tr>
        }
    </tbody>
</table>

<br />
@*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount*@
<div class="center indigo-text">
    @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</div>
